body {
    font-family: Arial, sans-serif;
    background-color: #e7f9e7;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a3d9a5;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
}

main {
    padding: 20px;
}

section#options button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

section#options button:hover {
    background-color: #45a049;
}

section#description {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}